#snitchpic
{
   display: center;
   margin-left: 725px;
}
/* settings for the snitch pic where it originally sets. Not to be compared to where it then starts after code is executed */
#instructions
{

    text-align: center;
    margin-top: 200px;
color: aliceblue;
 /* sets paragraph CSS settings for color and margin placement */
}

#music{


    text-align: left;
    margin-top: 400px;
    color: aliceblue;
    /* sets paragraph CSS settings for color and margin placement */
}

h1{

    text-align: center;
    padding-top: 100px;
}
/* sets heading to the center */
body {
    background-image: url("quidditchbackground.jpg");
    background-color: #cccccc;
}
/* give the background an image and back-up color.  */


nav {
    background-color: black;
}

nav a{

    float: left;
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: black;


}

nav a:hover {

    background-color: #e0e0e0;
    color: black;

}