/*use control ? for making comments in css, 
we will use this as a declaration block as instructed.

declaration block:

selector{
        property: value;
        property2: value;
        property3: value;
        
        amount of values we can have set up for properties
}
        
*/

body{

    background-color:#3d4d4b;
    /* I'm not really great at color theory,
     but background color sets the background of the whole page as is to the color assigned */
    color: black;
   
/*sets the color for the text */

}
     



    footer{
        float: right;
        text-align:bottom;
        margin-right: 50px;
        padding-top: 190px;

    }


    #memeImage{
        margin-right: 200px;
        width: 600px;
        padding-left: 650px;
        padding-top: 50px;
/* margin sets it up to have a little bit of space to the right of the page (margin-right)
 Width affects the image itself in size */
    }

h1{
    text-align: center;
/* this sets up the text for our headings to be centered than by default to the far left */

}

h3{


text-align: center;
/* sets text to the right */
color:#00563B;
padding: 50px;
}



.gamebutton{

text-align: center;

}



nav {
    background-color: black;
}

nav a{

    float: left;
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: white;


}

nav a:hover {

    background-color: #e0e0e0;
    color: black;

}

#login{

    padding-top: 300px;
    text-align: center;
}

#loginstatus{

    text-align: center;
    padding-right: 130px;
}