/*use control ? for making comments in css, we will use this as a declaration block

declaration block:

selector{
        property: value;
        property2: value;
        property3: value;
        
        
}
        
*/

body{

    background-color: darkgray;
    color: #fffdd0
   


}
     
nav{
        height: 600px;
 /* sets the height */
        width: 200px;
 /* sets it width */
 
        padding: 5px;
 /* this sets the space between an element content and border */

        float: left;
 /* helps set the element in this case to the left side */
        line-height: 30px;
 /* specifies height of line */
    }


    footer{
        text-align:center;
        margin-right: 200px;

    }


    #memeImage{
        margin-right: 200px;
        width: 400px;

    }

h1{
    text-align: center;


}