body{

    background-color: #89CFF0;
    /* I'm not really great at color theory,
     but background color sets the background of the whole page as is to the color assigned */
    color: #FF7F50
   
/*sets the color for the text */

}


h1{
    text-align: center;
    padding-top: 300px;
/* this sets up the text for our headings to be centered than by default to the far left */

}


form{

    text-align: center;

}

p{

    text-align: center;
    margin-right: 138px;
    /* set up like this to get it aligned with enter here. May be easier way, but this works */
}

nav {
    background-color: black;
}

nav a{

    float: left;
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: white;


}

nav a:hover {

    background-color: #e0e0e0;
    color: black;

}