/* Benton Marcum CS102 */


body{

    background-color:#87A96B;
    /* I'm not really great at color theory,
     but background color sets the background of the whole page as is to the color assigned */
    color: #fd5c63


/*sets the color for the text */

}


H1{
text-align: center;
padding-top: 80px;

}

h3{
    text-align: center;
    
    }


img
{

  vertical-align: middle;
  padding-left: 650px;

}

nav {
  background-color: black;
}

nav a{

  float: left;
  display: block;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  color: white;


}

nav a:hover {

  background-color: #e0e0e0;
  color: black;

}












